/* .navbar{
    background-color: #d3d3d3;
    height: 75px;
} */

.navbar-item {
    width: 150px;
    height: 150px;
    background-image: url('/assets/images/hartford.png');
    float: right;
    margin-top: -95px;
  }
  
  h3 {
    color: #000080;
  }