.navbar-item {
    width: 135px;
    height: 135px;
    background-image: url('/assets/images/hartford.png');
    position: absolute;
    margin-top: -85px;
    margin-left: 1200px;
  }
  
  h3 {
    color: #000080;
  }