#products thead tr {
    background-color: #b7d3e8;
    color: #050e17;
    border: 2px solid #000;
  }
  
  table {
    th, td {
      border: 2px solid;
      border-color: #050e17;
      overflow-y: auto;
    }
  }

  input {
    width: 220px;
  }